<ul class="list-group list-group-flush" style="font-size:15px; color:#fff; padding-top:120px; padding-left:30px;">
    <li class="py-2"><a routerLink="/admin/dashboard"><img src="/assets/idashboard.png" style="width:20px; margin-right:5px;"/> Dashboard</a></li>
    <li class="py-2"><a routerLink="/admin/blog"><img src="/assets/iblog.png" style="width:20px; margin-right:5px;"/> Blog</a></li>
    <li class="py-2"><a routerLink="/admin/subscriber"><img src="/assets/isubscriber.png" style="width:20px; margin-right:5px;"/> Subscribers</a></li>
    <li class="py-2"><a routerLink="/admin/property"><img src="/assets/iproperty.png" style="width:20px; margin-right:5px;"/> Property</a></li>
    <!-- <li class="py-2"><a routerLink="/admin/transactions"><img src="/assets/itransactions.png" style="width:20px; margin-right:5px;"/> Transaction</a></li> -->
    
    <li class="py-2"><a routerLink="/admin/archive"><img src="/assets/iarchive.png" style="width:20px; margin-right:5px;"/> Archive</a></li>
    <li class="py-2"><a routerLink="/admin/staff"><img src="/assets/isubscriber.png" style="width:20px; margin-right:5px;"/> Staff</a></li>
    
</ul>

