<div class="container-fluid" style="background:#fff; position:fixed; top:0; z-index: 20000;">
    <app-header></app-header>
</div>
<div class="container-fluid" style="padding-top:100px;">
    
    <div class="row">
        <div class="desktop-sidebar mobile-hide" style="background:#353d65; margin-right:0;">
            <div class="desktop-sidebardd">
                <app-sidebar></app-sidebar>
            </div>
        </div>
        <div class="desktop-content" style="min-height:100vh; background:#f3f3f3;">
            
            
            <div class="container-fluid dashboard-main-content" style="margin-top:40px;">
                <div class="row">
                    <div class="col-md-8"> 
                        <div style="box-sizing: border-box;">
                            <h5><strong>Reset Password</strong></h5>
                        </div>
                    </div>
                    <div class="col-md-4">
                        
                    </div>
                </div>
                
                <div *ngIf="isLoaded; else placeholder_set">
                    <div style="margin-top:20px; max-width:600px; margin:auto;">
                        <div style="padding:30px;">
                    
                            <!--<div class="form-group">
                                <label>Current Password</label>
                            <input type="password" name="cpassword" #cpassword class="form-control"  required>
                            <div *ngIf="cpassword.invalid && cpassword.touched" class="validation-error">This field is required.</div>
                            </div>
                            <hr>-->
                            <div class="form-group">
                                <label>New Password</label>
                            <input type="password" name="npassword" #npassword class="form-control" required>
                            <div *ngIf="npassword.invalid && npassword.touched" class="validation-error">This field is required.</div>
                            </div>

                            <div class="form-group">
                                <label>Confirm New Password</label>
                            <input type="password" name="cnpassword" #cnpassword class="form-control"  required>
                            <div *ngIf="cnpassword.invalid && cnpassword.touched" class="validation-error">This field is required.</div>
                            </div>
                            
                            <div class="form-group" style="margin-top:40px;">
                                <button type="submit" [disabled] = "formTracker" class="btn btn-lg btn-block subtn" style="padding:12px;" (click)="reset(npassword.value, cnpassword.value)" style="background:#d9ab2f; color:#fff;">Reset</button>
                            </div>

                        </div>
                    </div>
                </div>
                <ng-template #placeholder_set>
                    <div class="item" style="margin-top:40px;">
                        <ngx-skeleton-loader count="5"></ngx-skeleton-loader>
                    </div>
                </ng-template>




            </div>

        </div>
    </div>
     
</div>
