<div class="container">
    <div style="border-bottom:1px solid #353d65; padding:10px; width: 100%;">
      <div style="float: right;">
        <a href="https://www.wonderdoubleglobal.com/about"><span mdbWavesEffect style="color:#474f75; cursor:pointer; padding-right:30px;">About us</span></a>
        <a href="https://www.wonderdoubleglobal.com/contact"><span mdbWavesEffect style="color:#474f75; cursor:pointer; padding-right:20px;">Contact us</span></a>
      </div>
      <div style="clear: both;"></div>
    </div>
  </div>
  
  <div class="container-fluid" style="margin:0; padding:0; background:#fff;">
    <div class="container">
      <mdb-navbar SideClass="navbar navbar-expand-lg z-depth-0 navbar-light" [containerInside]="false">
    
        <!-- Navbar brand -->
       <mdb-navbar-brand><a href="https://www.wonderdoubleglobal.com/index" class="navbar-brand" style="cursor:pointer;"><img src="/assets/logo.png" class="logo"/></a></mdb-navbar-brand>
      
        
      
      </mdb-navbar>
      <!--/.Navbar-->
    </div>
  </div>
  
  
  
  
  
  
  
  