<div class="container" style="min-height:100vh;">

    <div style="width:550px; padding:50px; margin:auto; margin-top:50px;">

        <div class="card shadow-5-strong">
            <div class="card-body" style="border:0;">
               
                <div style="padding:20px 0; text-align: center;">
                    <img src="/assets/logo.png" width="100"/>
                    <h2 style="font-size:32px;">Admin Login</h2>   
                </div>
      
                <div class="form-group">
                    <label>Email:</label>
                    <input type="text" name="email" #email class="form-control" placeholder="Email" required>
                    <div *ngIf="email.invalid && email.touched" class="validation-error">This field is required.</div>
                  </div>
                <div class="form-group">
                    <label>Password</label>
                  <input type="password" name="password" #password class="form-control" placeholder="Password" required>
                  <div *ngIf="password.invalid && password.touched" class="validation-error">This field is required.</div>
                </div>
                
                <div class="form-group" style="margin-top:40px;">
                    <button type="submit" class="btn btn-lg btn-block subtn" style="padding:12px; background:#f58634; color:white;" (click)="login(email.value, password.value)">Login</button>
                </div>

            </div>
        </div>

        <div style="margin-top:30px; color:#777; text-align: center;">
            <label>Copyright 2021 | Wonderdouble Global All Rights Reserved</label>
        </div>

      
    </div>
      
  </div>