<app-navbar></app-navbar>

<div class="container" style="padding-top:30px; padding-bottom:30px;">
    <div style="padding-left:10px;">
        <h3>Confirmation</h3>
    </div>
    <hr>
    

    <div style="max-width:700px; margin:auto;">

        <div class="card shadow-5-strong" style="margin:70px 0">
            <div class="card-body" style="margin:auto;">
                <p style="text-align:center;">Congratulations, You've been registered to the Wonder Representative Team. You can now login to your portal on the website and start exploring the available features. We will keep notifying you of necessary information via your email and phone. Thank you<br><br>
                </p>

               
                

            </div>
        </div>    

    </div>
</div>



<div>
    <app-footer></app-footer>
</div>