<div class="container-fluid" style="background:#fff; position:fixed; top:0; z-index: 20000;">
    <app-header></app-header>
</div>
<div class="container-fluid" style="padding-top:100px;">
    
    <div class="row">
        <div class="desktop-sidebar mobile-hide" style="background:#353d65; margin-right:0;">
            <div class="desktop-sidebardd">
                <app-sidebar></app-sidebar>
            </div>
        </div>
        <div class="desktop-content" style="min-height:100vh; background:#f3f3f3;">
            
            
            <div class="container-fluid dashboard-main-content" style="margin-top:40px;">
                <div class="row">
                    <div class="col-md-8"> 
                        <div style="box-sizing: border-box;">
                            <h5><strong>Dashboard</strong></h5>
                        </div>
                    </div>
                    <div class="col-md-4">
                    </div>
                </div>
                  
               <div class="row">
                    <div class="col-md-6">

                        <div style="margin:20px 0;">
                            <h4>{{theMonth}} Property</h4>
                        </div>
                        <div *ngIf="isProp; else placeholder_prop">
                           
                            <div class="card shadow-5-strong">
                                <div class="card-body" style="border:0;">

                                    <div class="contentpanel" style="width:100%;">
                                        <div style="padding-top:30px; padding-bottom:30px; ">
                                            <table mdbTable striped="true">
                                                <thead>
                                                    <th>Estate</th>
                                                    <th style="width:120px;">Estate</th>
                                                    <th style="width:80px;">Date</th>
                                                    <th style="width:30px;"></th>
                                                </thead>
                                                <tbody>
                                                    <tr mdbTableCol *ngFor="let prop of pPropList">
                                                        <td>{{prop.estate}}</td>
                                                        <td style="width:120px;">{{prop.price}}</td>
                                                        <td style="width:100px;">{{prop.date | date: 'dd/MM/yyyy'}}</td>
                                                        <td style="width:30px; cursor:pointer;"><img src="/assets/arrow-right.png" width="20" (click)="fetchProp(prop.id)"/></td>
                                                    </tr>
                                                </tbody>
                                            </table> 
                                        
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <ng-template #placeholder_prop>
                            <div class="item" style="margin-top:40px;">
                                <ngx-skeleton-loader count="5"></ngx-skeleton-loader>
                            </div>
                        </ng-template>


                        <div style="margin:50px 0 20px 0;">
                            <h4>{{theMonth}} Archive</h4>
                        </div>
                        <div *ngIf="isArchive; else placeholder_archive">
                            
                            <div class="card shadow-5-strong">
                                <div class="card-body" style="border:0;">

                                    <div class="contentpanel" style="width:100%;">
                                        <div style="padding-top:30px; padding-bottom:30px; ">
                                            <table mdbTable striped="true">
                                                <thead>
                                                    <th style="width:150px;">Category</th>
                                                    <th>Title</th>
                                                    <th style="width:80px;">Date</th>
                                                    <th style="width:30px;"></th>
                                                </thead>
                                                <tbody>
                                                    <tr mdbTableCol *ngFor="let arc of pArchiveList">
                                                        <td style="width:150px;">{{arc.category}}</td>
                                                        <td>{{arc.title}}</td>
                                                        <td style="width:120px;">{{arc.date | date: 'dd/MM/yyyy'}}</td>
                                                        <td style="width:30px; cursor:pointer;"><img src="/assets/arrow-right.png" width="20" (click)="fetchArchive()"/></td>
                                                    </tr>
                                                </tbody>
                                            </table> 
                                        
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <ng-template #placeholder_archive>
                            <div class="item" style="margin-top:40px;">
                                <ngx-skeleton-loader count="5"></ngx-skeleton-loader>
                            </div>
                        </ng-template>

                    </div>
                   <div class="col-md-6">
                       
                        <div style="margin:20px 0;">
                            <h4>{{theMonth}} Blog</h4>
                        </div>
                        <div *ngIf="isBlog; else placeholder_blog">
                            
                            <div class="card shadow-5-strong">
                                <div class="card-body" style="border:0;">

                                    <div class="contentpanel" style="width:100%;">
                                        <div style="padding-top:30px; padding-bottom:30px; ">
                                            <table mdbTable striped="true">
                                                <thead>
                                                    <th style="width:120px;">Author</th>
                                                    <th>Topic</th>
                                                    <th style="width:80px;">Date</th>
                                                    <th style="width:30px;"></th>
                                                </thead>
                                                <tbody>
                                                    <tr mdbTableCol  *ngFor="let blog of pBlogList">
                                                         <td style="width:120px;">{{blog.author}}</td>
                                                        <td>{{blog.topic}}</td>
                                                        <td style="width:100px;">{{blog.date | date: 'dd/MM/yyyy'}}</td>
                                                        <td style="width:30px; cursor:pointer;"><img src="/assets/arrow-right.png" width="20" (click)="fetchBlog(blog.id)"/></td>
                                                    </tr>
                                                </tbody>
                                            </table> 
                                        
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <ng-template #placeholder_blog>
                            <div class="item" style="margin-top:40px;">
                                <ngx-skeleton-loader count="5"></ngx-skeleton-loader>
                            </div>
                        </ng-template>


                        <div style="margin:50px 0 20px 0;">
                            <h4>{{theMonth}} Subscriptions</h4>
                        </div>
                        <div *ngIf="isSub; else placeholder_sub">
                            
                            <div class="card shadow-5-strong">
                                <div class="card-body" style="border:0;">

                                    <div class="contentpanel" style="width:100%;">
                                        <div style="padding-top:30px; padding-bottom:30px; ">
                                            <table mdbTable striped="true">
                                                <thead>
                                                    <th>Estate</th>
                                                    <th style="width:160px;">Contact</th>
                                                    <th style="width:80px;">Date</th>
                                                    <th style="width:30px;"></th>
                                                </thead>
                                                <tbody>
                                                    <tr mdbTableCol  *ngFor="let sub of pSubList">
                                                        <td>{{sub.estate_name}}</td>
                                                        <td style="width:160px;">{{sub.name}}<br>{{sub.phone}}</td>
                                                        <td style="width:100px;">{{sub.date | date: 'dd/MM/yyyy'}}</td>
                                                        <td style="width:30px; cursor:pointer;"><img src="/assets/arrow-right.png" width="20" (click)="fetchSub()"/></td>
                                                    </tr>
                                                </tbody>
                                            </table> 
                                        
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <ng-template #placeholder_sub>
                            <div class="item" style="margin-top:40px;">
                                <ngx-skeleton-loader count="5"></ngx-skeleton-loader>
                            </div>
                        </ng-template>

                    </div>
               </div> 

            </div>

        </div>
    </div>
     
</div>
