
<div class="container-fluid" style="background:#2f2e2e; color:#fff; margin-top:0px;">
   
    <div class="container" style="margin-top:20px; border-top:1px solid #bbb;">
        <div class="row">
            <div class="col-md-6">
                <div style="padding:0px;">
                    <!-- <p style="color:white;">Wonder Double Global</p> -->
                </div>
            </div>
            <div class="col-md-6" style="text-align: right">
                <div style="padding:20px;">
                    @copy 2021 All Rights Reserved
                </div>
            </div>
        </div>
    </div>
</div>
