<div class="container-fluid" style="background:#fff; position:fixed; top:0; z-index: 20000;">
    <app-header></app-header>
</div>
<div class="container-fluid" style="padding-top:100px;">
    
    <div class="row">
        <div class="desktop-sidebar mobile-hide" style="background:#353d65; margin-right:0;">
            <div class="desktop-sidebardd">
                <app-sidebar></app-sidebar>
            </div>
        </div>
        <div class="desktop-content" style="min-height:100vh; background:#f3f3f3;">
            
            
            <div class="container-fluid dashboard-main-content" style="margin-top:40px;">
                <div class="row">
                    <div class="col-md-8"> 
                        <div style="box-sizing: border-box;">
                            <h5><strong>Subscriber</strong>  | {{filter}}</h5>
                        </div>
                    </div>
                    <div class="col-md-4">
                        
                    </div>
                </div>
                
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-6">

                            </div>
                            <div class="col-md-6 float-right">
                                <form class="form-inline md-form mr-auto" style="padding:0; margin:0;">
                                    <input class="form-control mr-sm-2" type="text" name="search" [(ngModel)]="searchInput"  placeholder="Estate | Subscriber Email" aria-label="Search" style="font-size:12px; width:300px;">
                                    <button mdbBtn size="sm" color="elegant" rounded="true" class="my-0 waves-light" mdbWavesEffect (click)="getByInput()">Search</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

                <div *ngIf="isLoaded; else placeholder_deal">
                    <div class="card">
                        <div class="card-body">
                            <div class="contentpanel" style="width:100%;">
                                <div style="padding-top:30px; padding-bottom:30px; ">
                                    
                                    <table mdbTable striped="true">
                                        <thead>
                                            <th style="width:120px;">Date</th>
                                            <th>Estate</th>
                                            <th style="width:250px;">Name</th>
                                            <th style="width:200px;">Email</th>
                                            <th style="width:100px;">Phone</th>
                                        </thead>
                                        <tbody>
                                            <tr mdbTableCol *ngFor= "let list of pageOfItems">
                                                <td style="width:120px;">{{list.date | date: 'dd-MM-yyyy'}}</td>
                                                <td>{{list.estate_name}}</td>
                                                <td style="width:250px;">{{list.name}}</td>
                                                <td style="width:200px;">{{list.email}}</td>
                                                <td style="width:100px;">{{list.phone}}</td>
                                            </tr>
                                        </tbody>
                                    </table> 
                                    <div class="card-footer pb-0 pt-3" style="background:none;">
                                        <jw-pagination [items]="subList" [pageSize]= "25" (changePage)="onChangePage($event)"></jw-pagination>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <ng-template #placeholder_deal>
                    <div class="item" style="margin-top:40px;">
                        <ngx-skeleton-loader count="5"></ngx-skeleton-loader>
                    </div>
                </ng-template>


            </div>

        </div>
    </div>
     
</div>
