<app-navbar></app-navbar>
<div class="container-fluid panel_bg2" style="margin:0; padding:0; margin-top:0px;">

    <div class="container">
        <div class="page-head-content">
            <h1 class="page-title-headx">Wonder Representative Project</h1>
        </div>
    </div>
</div>

<!-- <div class="container-fluid panel_bg_about" style="margin:0; padding:0; margin-top:0px;">

    <div class="container">
        <div class="row align-items-center banner-row">
            <div class="col-md-6">
                <h1 class="page-title-head">ABOUT<br> Magenta Imperial</h1>
                <p class="page-title-body">
                    ...helping both private and public sectors maximise their productivity</p>
            </div>
            <div class="col-md-6 text-right mobile-hide">
                
            </div>
        </div>
    </div>
</div> -->

<div class="container head-room-60 ">
    <div>
        <p class="animated fadeIn delay-1s" style="text-align: center;">
            With the vision to broaden the real estate horizon in our society and to create more opportunities 
            for our youths and some specific category of people in our society at different levels, we’ve introduced a strategic 
            mentorship programme called ’The Wonder Representative Project’. The project is to raise a representative team for our 
            company where members of the team will enjoy professional mentorship in real estate marketing and general business administration 
            and also, they will have the opportunity of making decent income through commission. <br><br>

Our main focus is on the students, stay-at-home moms, fresh graduates, retirees (retired but not tired), casual workers and professionals that 
desire to have their share of the multi-billion dollar real estate wealth and also willing to have a professional knowledge of the real estate business. 
        </p>
    </div>
    
</div>

<div class="container-fluid head-room-60" style="background:#dcdcdc;">
    <div class="container" style="padding-top:40px;">
        <div class="row align-items-center">
            <div class="col-md-7">
                <div>
                    <h2>How it works?</h2>
                    <p><span style="font-weight:700;">+</span> All registered members of the team will have a unique username <br><br>
                        <span style="font-weight:700;">+</span> Every property page has a link and on each link, members will add their username and share the link online<br><br>
                        <span style="font-weight:700;">+</span> The website tracks every traffic and register every visitor as the client of the member with the username - username extracted from the link.<br><br>
                        <span style="font-weight:700;">+</span>  Members earn commission on every completed transaction of their clients <br><br>
                        <span style="font-weight:700;">+</span>  Members can login to their portal on the website to track their links, clients and transactions.<br>
                    </p>
                </div>
            </div>
            <div class="col-md-5 mobile-hide">
                <img src="assets/k2.png" class="testimg"/>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid" style="">
    <div class="container head-room-60">
        <div class="row align-items-center">
            <div class="col-md-5">
                <img src="assets/k12.png" class="testimg"/>
            </div>
            <div class="col-md-7">
                <div>
                    <h2>The Commission</h2>
                    <p>All properties have different price tags and so is the commission attached to them. On the registered 
                        member’ portal, there is a list of all available properties with their marketing link and other details 
                        like the percentage commission and other useful information about them. <br>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid" style="background:#dcdcdc;">
    <div class="container" style="padding-top:40px;">
        <div class="row align-items-center">
            <div class="col-md-7">
                <div>
                    <h2>Mentorship</h2>
                    <p>Understanding the industry and how things work is very necessary and equally important to succeed in any business, 
                        but it can be very frustrating and discouraging when there is no one to guide through the process. There are dues to 
                        pay and requirements to fulfil to make it in real estate and Wonder Double Global is prepared to support, assist and guide 
                        every interested member of the public through its Wonder Representative Project. <br><br>

                        There will be free seminars, workshops, Q&A sessions and other interaction programmes for the members of the team and many 
                        professionals from real estate and other relevant industries will always be available as mentors. 
                    </p>
                </div>
            </div>
            <div class="col-md-5 mobile-hide">
                <img src="assets/k10.png" class="testimg"/>
            </div>
        </div>
    </div>
</div>


<div class="container-fluid" style="">
    <div class="container" style="padding-top:40px;">
        <div class="row align-items-center">
            <div class="col-md-5">
                <img src="assets/k4.png" class="testimg"/>
            </div>
            <div class="col-md-7">
                <div>
                    <h2>Marketing</h2>
                    <p>
                        Every member will have the opportunity of making money through our highly automated link marketing programme - just sharing the property link on social media and blogs with captivating 
                        caption can attract people to click on the link and that can result to sales. <br><br>

                        Wonder Double Global’ marketing team will be ready to follow up on every interest while the tracker on the website will always record the 
                        member’s username associated with the link into the database and the visitor with the link as the member’s client. It is a very transparent 
                        process that can be tracked by members through their portal on our website and the company will also notify the member of any completed transaction via their link.<br><br>

                        There will also be periodic compensation for members with highest traffic (highest number of visitors on the website via their link) and other incentives for committed and diligent members.<br><br>

                        Members can also write a good sales article and submit for authorisation. All authorised article will be featured on our blog with the property link from the author - this will improve the 
                        chances of the author to have more traffic and probably more sales.<br>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="container-fluid" style="background:#dcdcdc;">
    <div class="container" style="padding-top:50px; padding-bottom:50px;">
        <p class="animated fadeIn delay-1s" style="text-align: center;">
            Wonder Representative Project is a win-win situation for the members because the registration is completely free and the quality of impartation and knowledge they will get from the mentorship 
            programme will be priceless. If you wish to become a member of this team, you can continue by completing the registration form. Just follow the link below to get started.
        </p>
        <div style="margin-top:2px;">
            <div class="text-center">
                <button type="button" routerLink="/wonder-representative-form" mdbBtn style="background-color:#f58634; color:white;" rounded="true" data-toggle="modal" mdbWavesEffect>Registration Form >>></button>
            </div>
        </div>
    </div>
</div>



<div>
    <app-footer></app-footer>
</div>